# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
/export.sh

# System files
.DS_Store
Thumbs.db

### BACKEND ###

# Compiled output
/backend/dist
/backend/tmp
/backend/out-tsc
/backend/bazel-out

# Node
/backend/node_modules
/backend/npm-debug.log
/backend/yarn-error.log
/backend/package-lock.json
/backend/yarn.lock

# IDEs and editors
/backend/.idea/
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/*.launch
/backend/.settings/
/backend/*.sublime-workspace

# Visual Studio Code
/backend/.vscode/*
/backend/!.vscode/settings.json
/backend/!.vscode/tasks.json
/backend/!.vscode/launch.json
/backend/!.vscode/extensions.json
/backend/.history/*

# Miscellaneous
/backend/.angular/cache
/backend/.sass-cache/
/backend/connect.lock
/backend/coverage
/backend/libpeerconnection.log
/backend/testem.log
/backend/typings

# System files
/backend/.DS_Store
/backend/Thumbs.db

## SCRIPT ##

# Compiled output
/script_sn_weather/dist
/script_sn_weather/tmp
/script_sn_weather/out-tsc
/script_sn_weather/bazel-out

# Node
/script_sn_weather/node_modules
/script_sn_weather/npm-debug.log
/script_sn_weather/yarn-error.log
/script_sn_weather/package-lock.json
/script_sn_weather/yarn.lock

# IDEs and editors
/script_sn_weather/.idea/
/script_sn_weather/.project
/script_sn_weather/.classpath
/script_sn_weather/.c9/
/script_sn_weather/*.launch
/script_sn_weather/.settings/
/script_sn_weather/*.sublime-workspace

# Visual Studio Code
/script_sn_weather/.vscode/*
/script_sn_weather/!.vscode/settings.json
/script_sn_weather/!.vscode/tasks.json
/script_sn_weather/!.vscode/launch.json
/script_sn_weather/!.vscode/extensions.json
/script_sn_weather/.history/*

# Miscellaneous
/script_sn_weather/.angular/cache
/script_sn_weather/.sass-cache/
/script_sn_weather/connect.lock
/script_sn_weather/coverage
/script_sn_weather/libpeerconnection.log
/script_sn_weather/testem.log
/script_sn_weather/typings

# System files
/script_sn_weather/.DS_Store
/script_sn_weather/Thumbs.db
